/*body*/
body
{
  background:black;
}

ul.unstyled
{
  list-style: none;
  padding: 0;
}

/*navbar*/
#navigation
{
  background: black;
  color: #eee;
  font-size: 18px;
}

#SearchInput
{
  width: 200px;
}

.navbar-brand
{
  padding:0 10px 5px 15px;
}

.features
{
  text-align: center;
}

.photo
{
  width: 100%;
  position: relative;
}

.feature:hover
{
  transform: scale(1.1);
  z-index: 9999999;
}
.price
{
  font-size: 22px;
  position: absolute;
  top: 41px;
  right: 16px;
  padding: 10px;
}
/*footer*/

footer
{
  background: black;
  color: #eee;
  font-size: 11px;
  padding: 20px;
}
