/*body*/

body
{
  background:black;
}

ul.unstyled
{
  list-style: none;
  padding: 0;
}

/*navbar*/
#navigation
{
  background: black;
  font:#eee;
  font-size: 18px;
}

#SearchInput
{
  width: 200px;
}

.navbar-brand
{
  padding:0 10px 5px 15px;
}

/*carousel*/

#myCarousel
{
  margin-top: 60px;
}

#myCarousel .item
{
  height:580px;
}

#slide1
{
  background: url('../../images/skyrim-large.jpg') top center no-repeat;
}

#slide2
{
  background: url('../../images/assassins-large.jpg') top center no-repeat;
}

#slide3
{
  background: url('../../images/uncharted-large.jpg') top center no-repeat;
}

#slide4
{
  background: url('../../images/crysis-large.jpg') top center no-repeat;
}

#slide5
{
  background: url('../../images/bioshock-large.jpg') top center no-repeat;
}

#slide6
{
  background: url('../../images/tomb-large.jpg') top center no-repeat;
}

/*sec3 well*/
.well
{
  position: relative;
  margin-top: 20px;
}

#Newsletter
{
  position: absolute;
  top: 79%;
  left: 81%;
}

/*sec4*/

#downloadtop3
{
  color: white;
}

#top3
{
  margin-left: 0;
  margin-right: 0;
}

.rank{
  background-color:black;
  border:none;
}

#rank1
{
  width: 100%;
  height: 821px;
}

#rank2
{
  height: 366px;
  width: 100%;
}

#rank3
{
  height: 366px;
  width: 100%;
}

/*sec5*/
.photo
{
  width: 100%;
}

#sec5
{
  text-align: center;
  /*padding: 0;*/
}

.head
{
  margin-bottom: 0px;
}

footer
{
  background: black;
  color: #eee;
  font-size: 11px;
  padding: 20px;
}


/* Portrait & landscape phone */
@media (max-width: 480px)
{

#Newsletter
{
  position: absolute;
  top: 89%;
  left: 51%;
  font-size: 10px;
}

#rank1
{
  height: 485px;
}

}

@media (max-width: 768px)
 {
  #myCarousel .item
  {
     height: 310px;
  }
  #slide1
  {
    background: url('../../images/skyrim-small.jpg') top center no-repeat;
  }

  #slide2
  {
    background: url('../../images/assassins-small.jpg') top center no-repeat;
  }

  #slide3
  {
    background: url('../../images/uncharted-small.jpg') top center no-repeat;
  }

  #slide4
  {
    background: url('../../images/crysis-small.jpg') top center no-repeat;
  }

  #slide5
  {
    background: url('../../images/bioshock-small.jpg') top center no-repeat;
  }

  #slide6
  {
    background: url('../../images/tomb-small.jpg') top center no-repeat;
  }

  #Newsletter
  {
    position: absolute;
    top: 89%;
    left: 51%;
    font-size: 10px;
  }


  #rank1
  {
    height: 485px;
  }
}
