/*body*/
body
{
  background:smokewhite;
}
/*navbar*/

#SearchInput
{
  width: 200px;
}

.navbar-brand
{
  padding:0 10px 5px 15px;
}

/*carousel*/

#myCarousel
{
  margin-top: 60px;
}

#myCarousel .item
{
  height:580px;
}

#slide1
{
  background: url('../../images/metro-large.jpg') top center no-repeat;
}

#slide2
{
  background: url('../../images/assassins-large.jpg') top center no-repeat;
}

#slide3
{
  background: url('../../images/uncharted-large.jpg') top center no-repeat;
}

#slide4
{
  background: url('../../images/crysis-large.jpg') top center no-repeat;
}

#slide5
{
  background: url('../../images/bioshock-large.jpg') top center no-repeat;
}

#slide6
{
  background: url('../../images/tomb-large.jpg') top center no-repeat;
}

/*sec3 well*/
.well
{
  position: relative;
  margin-top: 20px;
}

#Newsletter
{
  position: absolute;
  top: 58%;
  left: 77%;
}
